.header-nav {
    height: 5em;
    margin-bottom: 2em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-navbar, #myBtn, .menu-item {
    font-family: 'marcellus';
    display: flex;
    align-items: flex-end;
    font-size: 18px !important;
}

#myBtn {
    position: relative;
    top: -3px;
}

.logo {
    width: 85px;
}

.menu{
    
    display: flex;
}

.menu li {
    list-style: none;
    padding-left: 1em;
}

.menu-item a {
    color: white;
    text-decoration: none;
}

.line {
    color: white;
}


@media all and (max-width: 620px) {
    /* .header-nav{
        display: none;
    } */
  
    #myBtn, .accueil_item > a, .apropos_item > a{
        color: white;
        font-size: 1.43em;
    }
  }
  
  /* @media all and (min-width: 620px) {
    .menu-toggle, .open_nav {
        display: none;
    }
  } */