.customize-support {
    margin: auto;
    animation: grow 1.25s ease-in-out;

}

/* hero */

/* img hero */
.wp-image-24 {
    width: 100%;
    position: relative;
    z-index: 0;
}

.wp-block-group__inner-container {
    position: relative;
    z-index: 1;
}

.banier-titre {
    opacity: 0.7;
    margin: 0 17%;
}

/* .wp-block-cover__image-background {
    margin: 30px !important;
}

.wp-block-group{
padding: 10em 0;
opacity: 0.7;
}

.alignfull {
    margin-bottom: 120px;
} */


/* galerie */


.wp-container-8 img {

    filter: grayscale(100%) drop-shadow(-8px 3px 20px black) opacity(0.8) !important;  
    object-fit: cover !important;  

    /* position:absolute;
    width:100px;
    height:100px; */
    /* top:50%;
    left:50%; */
    /* margin-left:-50px;
    margin-top:-50px; */
    /* background:blue; */
    /* border-radius:50%; */
  opacity:0.5;
    /* -webkit-transition:all 3s linear; */
}

.wp-container-8 img:hover {
    filter : drop-shadow(-8px 3px 20px black) !important;
}


/* ouverture d'un projet  */

/* body{
    width:100%;
    height:100%;
} */
.circle{
    position:absolute;
    width:100px;
    height:100px;
    top:50%;
    left:50%;
    margin-left:-50px;
    margin-top:-50px;
    /* background:blue; */
    border-radius:50%;
  opacity:0.5;
    -webkit-transition:all 3s linear;
}


.wp-block-image img.active{
    width:2000px;
    height:2000px;
    top:50%;
    left:50%;
    margin-left:-1000px;
    margin-top:-1000px;
}

/* .page{

    opacity:0;
    z-index:99;
    position:relative;
    -webkit-transition:all 0.5s;
    -webkit-transition-delay: 1s; 
    
}

.page.active{
opacity:1;
} */


/* images de la grille */

/* container principal */
.wp-container-6 {
    padding: 8em 9%;
    max-width: 1300px;
    margin: auto;
}

.wp-container-6 img {
    border-radius: 4%;
    filter: grayscale(0.9);
}



/* container Pht event - Planty - Koukaki*/
.is-layout-flow {
    max-width: 685px;
}

/* img phot event */
.wp-image-43 {
    width: 85%;
    max-height: 240px;
}

/* container Planty Koukaki */
.wp-container-5 {
    max-width: 650px;
}

/* img Planty */
.wp-image-31{
    width: 325px;
}

/* img koukaki */
.wp-image-23 {
    width: 390px;
}

/* colonne droite SV - Chic - Booki*/
.is-vertically-aligned-center {
    margin-top: 100px;
}




/*781px*/
@media all and (max-width: 781px){
    .wp-container-6 {
        padding: 50px 9%;
    }

    .wp-container-3 {
        flex-wrap: nowrap!important;
        display: flex;
    }

}

@media all and (max-width: 480px){

    .is-layout-flex{
        display: flex;
        flex-direction: column;
    }
    .wp-block-column img {
        width: 200px;
        height: 200px;
        margin: auto;
        object-fit: cover;
    }    

    /* container Pht event - Planty - Koukaki*/
/* .is-layout-flow {
    position: relative;
    left: -6em;
    top: 4em;
} */

/* img SV*/
/* .wp-image-28 {
    position: relative;
    top: 2em;
    left: -10.5em;
} */



/* @media all and (max-width: 400px){
 
.wp-image-23, .wp-image-28, .wp-image-29, .wp-image-27, .wp-image-43 {
    width: 82%;
}
} */

}




  .active {
    opacity: 1;
    visibility: visible;
}