body {
    margin: auto;
    margin: 0 4%;
    background-color: var(--primary-color);
    animation: grow 1.25s ease-in-out;

}

/* hero */


.wp-block-group__inner-container {
    color: var(--contrast-color);
    font-family: 'seasons';
    /* font-weight: 300; */
    padding: 0 90px;
}

.title-container {
    font-size: 4.2em;
    font-weight: 300;
}

.wp-block-group__inner-container h2 {
    padding-left: 10em;
}

/* img hero */
/* .wp-image-24 {
    width: 100%;
    position: relative;
    z-index: 0;
}
.wp-block-cover__image-background{
    filter: sepia(0.3);
}

.wp-block-group__inner-container {
    position: relative;
    z-index: 1;
}

.hero-titre {
    font-family: 'marcellus';
    opacity: 0.9;
    padding: 1.25em 0.375em !important;
    margin: 0 17%;
} */


/* test transition */

.wp-container-8 {
    display: flex;
    justify-content: center;
}

.wp-container-7 img {
    transform: scale();
}

/* @keyframes {

} */


/* .wp-block-cover__image-background {
    margin: 30px !important;
}

.wp-block-group{
padding: 10em 0;
opacity: 0.7;
}

.alignfull {
    margin-bottom: 120px;
} */


/* galerie */


/* container principal */
.wp-container-7 {
    padding: 5em 90px 0em 90px;
    max-width: 1300px;
    margin: auto;
}

.wp-container-7 img {
    border-radius: 4%;
 
    filter: sepia(0.20) ;
}


/* container Photo event - Planty - Koukaki*/
.is-layout-flow {
    max-width: 685px;
}

/* img photo event */
.wp-image-43 {
    width: 85%;
    max-height: 240px;
    position: relative;
    top: 19px;
    left: 22px;
}

.wp-image-28 {
    margin-top: 0.5em;
}

.wp-image-29{
    margin: 9px 0;
    height: 52px;
    /* object-fit: cover; */
}

/* container Planty Koukaki */
.wp-container-5 {
    max-width: 650px;
}

/* img Planty */
.wp-image-31{
    width: 325px;
}

/* img koukaki */
.wp-image-23 {
    width: 390px;
}

/* container planty et btn */
.wp-container-4 :first-child {
    margin-top: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* colonne droite SV - Chic - Booki*/
.is-vertically-aligned-center {
    margin-top: 100px;
}

/* boutons contact */

.wp-block-buttons {
    display: flex;
    justify-content: flex-end;
}

.wp-block-button__link {
    font-family: 'seasons';
    letter-spacing: 0.7px;
    font-size: 2.6em;
    background-color: var(--primary-color) !important;
    color: var(--contrast-color);
}

.wp-block-buttons :hover .wp-block-button__link{
    border: 1px solid var(--contrast-color);
    -webkit-animation: 8s linear infinite;
          animation: top 8s linear infinite;
          -webkit-animation-name: top;
          animation-name: top;
  } 

  @-webkit-keyframes top {
    25% {
      width: 0;
      background: #ffdb00;
    }
    38% {
      width: calc(103%);
      background: #ffdb00;
    }
    50% {
      background: #ffdb00;
    }
    62% {
      background: #ffdb00;
    }
    75% {
      width: calc(103%);
      background: #ffdb00;
    }
    88% {
      left: auto;
      right: -3px;
      width: 0;
      background: #ffdb00;
    }
  }

/* animation bouton contact */
/* .wp-block-buttons  {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
        margin: 0 auto;
    width: 320px;  
  } */
  /* .wp-block-button__link{
    stroke-dasharray: 140 540 !important;
    stroke-dashoffset: -474 !important;
    stroke-width: 8px;
    fill: transparent;
    stroke: var(--contrast-color);
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s !important;
  }
 
  .wp-block-buttons :hover .wp-block-button__link{
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
  } */


    

@media all and (max-width: 1026px){
    .wp-block-button__link {
        font-size: 1.4em;
    }
}    

@media all and (max-width: 781px){
    .wp-container-6 {
        padding: 50px 9%;
    }

    .wp-container-3 {
        flex-wrap: nowrap!important;
        display: flex;
    }
    .wp-image-23 {
        width: 250px;
    }

}

@media all and (max-width: 480px){

    .is-layout-flex{
        display: flex;
        flex-direction: column;
    }
    .wp-block-column img {
        width: 100%;
        height: 200px;
        margin: auto;
        object-fit: cover;
    }    

    .wp-image-23 {
        width: 339px !important;
    }

    .hero-titre {
        margin: 0 -2%;
    }
}