
/* .single-projet {
    padding: 2em 5%;
    margin: auto;
    animation: grow 1.5s ease-in-out;
    }      */
      /* @keyframes grow {
          0% { transform: scale(.2); }
        100% { transform: scale(1); }
      } */
/* .article {
    padding: 0;
}

.article-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
} */
/* 
.slider {
    width: 46%;
    min-width: 30px;
    object-fit: cover;
}

.swiper-wrapper {
    height: 90%;
}

.slider img {
    object-fit: cover;
} */

.zoneUp, .zoneDown   {
    display: flex;
}
.zoneUp img {
    width: 24em;
    height: 30em;
}

.zoneDown img {
    
    width: 19em;
    height: 19em;

}

.info {
    /* width: 40%; */
    font-family: 'marcellus';
    font-size: 15px;
    word-spacing: 1.3px;
}

/* .info li, .info a {
    list-style: none;
    color: var(--contrast-color);
} */

.info h1 {
    font-family: 'seasons';
    font-size: 10em;
    color: var(--contrast-color);
    margin: 0.2em 0;
}

.descContainer, .compGitContainer {
    margin-top: 5em;
    color: var(--contrast-color);
    font-size: 1.3em;
}

.descContainer {
    width: 57%;
    padding-right: 4em;
}

.desc {
width: 73%;
margin-left: 3em;
}

.zoneDown {
       margin: 4em 0;
}

.img2Container {
    margin: 0 9em
}

.comp {
    padding-top: 35px;
    font-size: 20px;
}

.gitHub {
    font-family: 'seasons';
    font-size: 17px;
    letter-spacing: 2px;
}

#myBtn.singleBtn {
    text-decoration: none;
    color: var(--contrast-color);
    left: 74%;
    top: -1em;
    font-size: 5em !important;
    max-width: 4em;

}


@media all and (max-width: 1000px){
    .info h1 {
        font-size: 7em;  
    }
}

@media all and (max-width: 150px){
    .info h1 {
        font-size: 5em;  
    }

    .zoneUp,.zoneDown {
        flex-direction: column !important;
        align-items: center !important;
    }
}



/* 
@media all and (max-width: 800px){
    .article-content > img {
    }
}

@media all and (max-width: 700px){
    
    .article {
        display: flex;
        flex-direction: column-reverse;
    }

    .article-content {
        flex-direction: column;
    }
    .slider {
        width: 100%;
    }


    .wp-block-eedee-block-gutenslider .swiper {
        align-content: stretch;
        height: 35% !important ;
    }

    .eedee-gutenslider-pagination{
        position: relative;
        top: 21em;
    }

    .info{
        width: 70%;
        position: relative;
        top: -32em;
    }
    .gitHub {
        top: 16px;
        right: -7%;
    } */

    /* #myBtn {
        justify-content: flex-end;
        margin-right: 3em;
    }
} */




/* ---------  page about me ---------- */

/* btn Cta */

.infoAbout .wp-block-button__link{
    background-color: var(--contrast-color) !important;
    color: var(--primary-color);
}
  