
.single-projet {
    padding: 2em 5%;
    margin: auto;
    animation: grow 1.5s ease-in-out;
    }     
      /* @keyframes grow {
          0% { transform: scale(.2); }
        100% { transform: scale(1); }
      } */

.modal-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal-content >img {
    width: 40%;
}

.info {
    width: 40%;
}

.info li {
    list-style: none;
    color: aliceblue;
}


  