
.single-projet {
    padding: 2em 5%;
    margin: auto;
    animation: grow 1.5s ease-in-out;
}     
      @keyframes grow {
          0% { transform: scale(.2); }
        100% { transform: scale(1); }
      }


.projet-info-container {
    padding: 0 10%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.projet-titre {
    font-size: 3em  ;
}

.projet-info {
    padding-top: 4em; 

    display: flex;
    justify-content: space-around;
}

.projet-des {
    width: 60%;
}

.projet-comp {
    width: 20%;
}

.projet-lien {
    padding: 4em 0;
}